.dropdown a{
	text-decoration: none;
	width: auto;
	color: black;
	list-style: none;
	padding: 5px;
}
.dropdown a:hover{
	color: grey;
}


.lang-btn-group {
	width: 220px;
	margin-left: 200px;
	color: white;
	font-size: 15px;
}
.lang-btn-group span {
	margin-left: 7px;
}
.lang-btn {
	background: none;
	border: none;
	padding: 0;
	text-decoration: none;
	color: white;
	margin-left: 7px;
	cursor: pointer;
	transition: color .3s;
}
.lang-btn:hover {
	color: red;
}
